@charset "utf-8";
/* CSS Document */

body{
	background-color:#000;
	background-image:url(../im/bk.jpg);
	background-position:center top;
	background-repeat:repeat-y;
	font-family:yan2;
	font-size:13px;
	}
	
	
	h1{ font-family:yan2;}
	h2{ font-family:yan2;}
	
	


@font-face
{
font-family: abadixb;
src: url('../fonts/abadixb.ttf'),
     url('../fonts/abadixb.eot') format("opentype"); /* IE */
	
} 

@font-face
{
font-family: yan;
src: url('../fonts/YanoneKaffeesatz-Regular.ttf'),
     url('../fonts/YanoneKaffeesatz-Regular') format("opentype"); /* IE */
} 

@font-face
{
font-family: yan2;
src: url('../fonts/YanoneKaffeesatz-ExtraLight.ttf'),
     url('../fonts/Lobster') format("opentype"); /* IE */
} 

@font-face
{
font-family: passion;
src: url('../fonts/passion.ttf'),
     url('../fonts/passion') format("opentype"); /* IE */
} 
.container{
	background-color:#000;
	margin-top:10px;
	width:;
	height:100%;
	min-height:600px;
	opacity:.9;
	}
	
.logo{
	margin-left:auto;
	margin-right:auto;
	width:28%;
	height:auto;
	background-color:#;
}


.menu{
	width:100%;	
	background-color:#111;
	
	}
.menu a{
	font-family:yan2;
	font-size:13px;
	color:#fff;	
	}
	
	.menu a:hover{
	font-family:yan2;
	font-size:13px;
	color:#333;
	
	
	
	}
.menu li{
	}
	
	
	.index{margin-top:70px;}
	
	
	input[type=text] {
	width: 140px;
	background-color: #;
	border:none;
}

input[type=submit] {
	width: 140px;
	background-color:#111;
	height:50px;
	font-size:24px;
	border:none;
	color:#FFF;
	margin-top:20px;
}

input[type=password] {
	width: 140px;
	background-color: #AAD5FF;
	border:none;
}

input[type=email] {
	width: 140px;
	background-color: #;
	border:none;
}

input.text {
	width: 300px;
	background-color: yellow;
}

.listalogos{
	margin-left:0;
	margin-top:20px;
	background-color:#231f20;
	width:220px;
	height:60px;
	padding:0;
	padding-top:7px;
	}
	
	.listalogos li{
		list-style:none;
		float:left;
		margin-left:3px;
	}
	
	.twi{
		margin-top:20px;
		margin-bottom:50px;
		}
		
		.tituloespecial{
			font-family:yan2;
			color:#CCC;
			font-size:24px;
			
			}
			
			
			.tituloespecial h1{
				color:#333;
				font-size:100px;
				font-family:yan2;
				text-shadow:5px 5px #000;
				}
				
				.tituloespecial h2{
				color:#eee;
				font-size:40px;
				font-family:yan2;}
				
				
				.infozone{
					background-color:#;
					color:#FFF;
					margin-top:1px;
					height:100%;
					
					margin-bottom:100px;}
					
					.logos{
						margin-top:40px;}
						
						
						.texto{
							font-family:yan2;
			color:#CCC;
			font-size:16px;
			padding:20px;
			text-align:justify;
		
			height:100%;
			margin-top:20px;
			padding-bottom:80px;
			
			
			
			
			}
			
			
			.menu2014{
				font-size:24px;
				margin-top:50px;
				padding-left:50px;}
				
				.menu2014 li{
					list-style:none;}
					
					
					.registrolist{
						margin:13px;}
						
						.formregistro{
							margin-top:30px;
							margin-bottom:30px;}
							
							
							.msgred{
								font-size:18px;
								color:#F00;}
								
								.titulocomentarios{
									margin-top:20px;}
									
									
		.bandas{
			background-color:#111;
			height:auto;
			display:block;
			
			padding:10px;
			margin-top:5px;
			margin-bottom:5px;
			;
			
			}
			
			.bandasimg{
				display:block;
				padding:10px;
				background-color:#000;
				width:230px;
				
				
				float:left;
				
				}
				
				
				.resenatext{
					margin-top:10px;}
				
				
				.bandasimg h1{
					margin:0;
					padding:0;
					padding-bottom:10px;
					}
				
				.textoimg{
					
					display:block;
				padding:10px;
				
				width:100%;
				float:left;
				background-color:#000;
					}
					
					
					
						
						
						.bandavideoclip{
							float:left;
							display:block;
							margin-left:30px;}
							
							
							.bandainfo{
								display:block;
								float:left;
								background-color:#111;
								padding:10px;
								margin-left:20px;}
								
								
								.ui360-vis{
									background-color:#C66;}